<!DOCTYPE html>
<html>

{{ partial "head" . }}

<body>
{{ partial "nav" . }}
    <div class="animated fadeIn">
{{ partial "hero-blog" . }}
  <section class="section">
    <div class="container">
        <div class="content">
        <article class="blog">
                {{ .Content }}
    <br>
    <p><a href="/blog/">Back to posts</a></p>
    <p><a href="{{if .PrevInSection}}{{.PrevInSection.Permalink}}{{end}}">Previous</a> | <a href="{{if .NextInSection}}{{.NextInSection.Permalink}}{{end}}">Next</a></p>
        </article>

        </div>
    </div>
</section>
</div>
{{ partial "footer" . }}
</body>
<html>
