<!DOCTYPE html>
<html>
{{ partial "head" . }}

<body class="Site">
    {{ partial "nav" . }}
    <main class="Site-content">

        <section>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
 <video width="100%" autoplay="" loop="" muted="">
  <source type="video/mp4" src="/assets/iam_min.mp4">
</video>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="box ">
                        <h1 id="title">{{ .Title }}</h1> {{ .Content }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="box">
                        <h1 id="title">{{ .Title }}</h1> {{ .Content }}
                    </div>
                </div>
            </div>
        </section>

    </main>
    {{ partial "footer" . }}
</body>

</html>
