<!DOCTYPE html>
<html>
{{ partial "head" . }}

<body class="Site">
    {{ partial "nav" . }}
    <main class="Site-content">

        <section>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="box links">

                        {{ range where .Site.Pages.ByDate.Reverse "Section" "blog" }}
                        <ul>
                            <li>
                                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                <h4>{{ .Date.Format "Mon, Jan 2, 2006" }} // // {{ .Date.Format "Mon, Jan 2, 2006" }}</h4>
                                <p>{{ .Description }}</p>

                            </li><br />
                        </ul>{{ end }}</div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    {{ partial "footer" . }}
</body>

</html>
