<!DOCTYPE html>
<html>
{{ partial "head" . }}

<body class="Site">
    {{ partial "nav" . }}
    <main class="Site-content">

        <section>
            <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="box links">
<p><a href="/blog/">Back to posts</a></p>
                              <h2>{{ .Title }}</h2>
                  <h3>Reading Time: {{ .ReadingTime }} minutes // {{ .Date.Format "Mon, Jan 2, 2006" }}</h3>
                  <small>Tags: {{ .Params.tags }}</small>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="box links">
                          {{ .Content }}
              <br>
              <p><a href="/blog/">Back to posts</a></p>
              <p><a href="{{if .PrevInSection}}{{.PrevInSection.Permalink}}{{end}}">Previous</a> | <a href="{{if .NextInSection}}{{.NextInSection.Permalink}}{{end}}">Next</a></p>
                    </div>
                </div>
            </div>
        </section>

    </main>
    {{ partial "footer" . }}
</body>

</html>
