<section>
{{ partial "update" . }}

</section>

<section>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="box fill ">
                <a href="/gal/">
                    <img src="/assets/coverimage_mobile.jpg" />
                    <!-- <video width="100%" autoplay loop muted playsinline>
              <source type="video/mp4" src="/assets/coverimage_events.min.min.mp4">
            </video> -->
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="box fill ">
                <a href="/gal/">
                    <img src="/assets/coverimage_events.jpg" />
                    <!-- <video width="100%" autoplay loop muted playsinline>
              <source type="video/mp4" src="/assets/coverimage_people.min.min.mp4">
            </video> -->
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="box fill ">
                <a href="/gal/">
                    <img src="/assets/coverimage_places.jpg" />
                    <!-- <video width="100%" autoplay loop muted playsinline>
              <source type="video/mp4" src="/assets/coverimage_mobile.min.min.mp4">
            </video> -->
                </a>
            </div>
        </div>
    </div>
</section>
