<section>
{{ partial "update" . }}

</section>

<section>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="fill ">
                <a href="/gal/">
                    <img src="/assets/coverimage_aerial.jpg" />
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="fill ">
                <a href="/gal/">
                    <img src="/assets/coverimage_people.jpg" />
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="fill ">
                <a href="/gal/">
                    <img src="/assets/coverimage_places.jpg" />
                </a>
            </div>
        </div>
    </div>
</section>
