<section>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="box fill ">
                <a href="/gal/"><img src="/assets/photos/events/coverimage.jpg.jpg"></a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="box fill ">
                <a href="/gal/"><img src="/assets/photos/mobile/coverimage.jpg.jpg"></a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="box fill ">
                <a href="/gal/"><img src="/assets/photos/people/coverimage.jpg.jpg"></a>
            </div>
        </div>
    </div>
</section>
