<footer >
    <section>
        <div class="row">
            <div class="col-xs-4">
                <div class="start-xs box ">
                    <h4>Colophon —</h4>
                </div>
            </div>
        </div>


        <div class="row bottom-xs">
            <div class="col-xs-4">
                <div class="start-xs box">
                    {{ partial "menu" . }}
                </div>
            </div>
            <div class="col-xs-8">
                <div class="start-xs box">

                    <small>© {{ .Site.Params.author }}</small><br />
                    <small>{{ .Site.Params.description | markdownify }}</small><br /><br /><br />
                    <small>{{ .Site.Params.attribution }}</small>
                </div>
            </div>
        </div>
    </section>
</footer>

{{ partial "scripts" . }}
