<nav>
    <section>
        <div class="row middle-xs">
<div class="col-xs-6 nav-item ">
<div class="row middle-xs">
            <div class="col-xs-1">
                <div class="start-xs icon">
                    <a href="/">
                        <img class="logo" src="/assets/logo_black.svg" />
                    </a>
                </div>
            </div>
            <div class="col-xs">
                <div class="start-xs is-brand">
                    <a href="/">
                        <h4>I AM MATTHIAS</h4>
                    </a>
                </div>
            </div>
</div>
  </div>

            <div class="col-xs">
                <div class="end-xs box">
                    <input type="checkbox" id="op"></input>
                    <div class="nav-item">
                        <label for="op">•••</label>
                    </div>
                    <div class="overlay overlay-hugeinc">
                        <label for="op"></label>
                        <nav>
                          {{ partial "menu" . }}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</nav>
