
<div  class="container">
<div class="columns is-multiline is-mobile level">
        {{ range first 10 .Data.Pages }}
        {{ if eq .Type "blog" }}
<div class="column is-one-quarter-desktop is-one-quarter-tablet is-12-mobile level-left">

                <h2>
                    <a href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>
                </h2>
                <h5>
<a href="{{ .Permalink }}">{{ .Date.Format .Site.Params.dateform }} </br>

                    Read the full article
                </a></h5>

</div>
<div class="column is-three-quarters-desktop is-three-quarters-tablet is-12-mobile level-right">

                {{ .Description }}

</div>
        {{ end }}
        {{ end }}
</div>
</div>
</div>
