<section class="section">
    <div class="container">
  <div class="columns is-multiline is-mobile level cent">
      {{ range first 12 .Data.Pages }} {{ if eq .Type "work" }}
      <div class="column is-half-desktop is-half-tablet is-12-mobile port-card">
          <article>
              <a href="{{ .Permalink }}">
                  <img src="{{ .Params.image }}" class="port-image shadow hover" />
                  <div class="port-center">
                      <h1>
                  {{ .Title }}
                      </h1> {{ .Description }}
                  </div>
              </a>
          </article>

      </div>
      {{ end }} {{ end }}
  </div>
    </div>
    </div>
</section>
