<section class="section">
    <div class="container">
  <div class="columns is-multiline is-mobile cent">
      {{ range first 12 .Data.Pages }} {{ if eq .Type "gal" }}
  <a href="{{ .Permalink }}" class="column is-half-desktop is-half-tablet is-12-mobile port-card" style="background: url({{ .Params.cover }}) center center;">

          <article >


                  <div class="port-center ">
                        <h1 class="stroke opacity-full">
                    {{ .Title }}
                        </h1> <h4 class="stroke">{{ .Description }}</h4>
                  </div>

          </article>

</a>
      {{ end }} {{ end }}
  </div>
    </div>
    </div>
</section>
