<head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description }}">
<link rel="shortcut icon" href="{{ .Site.Params.faviconfile }}" type="image/x-icon">
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "base.css" }}" />
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "photoswipe.css" }}" />
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "default-skin.css" }}" />
</head>
