<nav class="nav">
<div class="container">
  <div class="nav-left">
    <a class="nav-item" href="/">
      <span class="icon">
  <img src="/images/logo_white.svg" />
      </span>
    <span class="is-brand" href="/">
    I AM MATTHIAS
</span>
    </a>
  </div>


  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="/">
      HOME
    </a>
    <a class="nav-item" href="/gal">
      PHOTOGRAPHY
    </a>
  <a class="nav-item" href="/work">
    WORK
  </a>
      <a class="nav-item" href="/bio">
        BIO
      </a>
    <a class="nav-item" href="/blog">
      BLOG
    </a>

  </div>
</div>
</nav>
