<nav class="nav shadow">
<div class="container">
  <div class="nav-left">
    <a class="nav-item is-brand" href="/">
    I AM MATTHIAS
    </a>
  </div>

 <div class="nav-center">
    <a class="nav-item" href="/">
      <span class="icon">
    <img src="/images/logo.svg">
      </span>
    </a>
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="/">
      Home
    </a>
    <a class="nav-item" href="/gal">
      Galleries
    </a>
    <a class="nav-item" href="/blog">
      Blog
    </a>

  </div>
</div>
</nav>
