body {
    background: $white;

}

img, canvas, iframe, video, svg, select, textarea {
  max-width: 100%; }
pre {padding: .5rem;
overflow: scroll;
background-color: $purewhite;
code {
padding: 0rem;
background-color: transparent;
}
}
code {
padding: .25rem;
background-color: $purewhite;
}

section {
    width: 85%;
    margin: 0 auto;
}


@media only screen and (min-width: 20em) {
  section {
      width: 85%;
      margin: 0 auto;
  }
}

@media only screen and (min-width: 48em) {
  section {
      width: 75%;
      margin: 0 auto;
  }

}
@media only screen and (min-width: 64em) {
  section {
      width: 61.8%;
      margin: 0 auto;
  }

}



@import "nav";
@import "footer";

.Site {
    display: flex;
    min-height: 110vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

.logo {
width: 2rem;
}
