body {
    background: $white;

}

img, canvas, iframe, video, svg, select, textarea {
  max-width: 100%; }

pre {padding: .5rem;
overflow: scroll;
background-color: $purewhite;
code {
padding: 0rem;
background-color: transparent;
}
}
code {
padding: .25rem;
background-color: $purewhite;
}

section {
    width: 85%;
    margin: 0 auto;
}


@media only screen and (min-width: 20em) {
  section {
      width: 85%;
      margin: 0 auto;
  }

img[src$='#floatleft-sm']
{
    float:left;
    width: 100%;
    margin: 0.7rem 0.7rem 0.7rem 0;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}


img[src$='#floatleft-md']
{
    float:left;
    width: 100%;
    margin: 0.7rem 0.7rem 0.7rem 0;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft-lg']
{
    float:left;
    width: 100%;
    margin: 0.7rem 0.7rem 0.7rem 0;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}


img[src$='#floatright-sm']
{
    float:right;
    width: 100%;
    margin: 0.7rem 0 0.7rem 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright-md']
{
    float:right;
    width: 100%;
    margin: 0.7rem 0 0.7rem 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright-lg']
{
    float:right;
    width: 100%;
    margin: 0.7rem 0 0.7rem 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

}

@media only screen and (min-width: 48em) {
  section {
      width: 75%;
      margin: 0 auto;
  }

}
@media only screen and (min-width: 64em) {
  section {
      width: 61.8%;
      margin: 0 auto;
  }


img[src$='#floatleft-sm']
{
    float:left;
    width: 25%;
    margin: 0.7rem 0.7rem 0.7rem 0;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}


img[src$='#floatleft-md']
{
    float:left;
    width: 33%;
    margin: 0.7rem 0.7rem 0.7rem 0;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft-lg']
{
    float:left;
    width: 50%;
    margin: 0.7rem 0.7rem 0.7rem 0;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}


img[src$='#floatright-sm']
{
    float:right;
    width: 25%;
    margin: 0.7rem 0 0.7rem 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright-md']
{
    float:right;
    width: 33%;
    margin: 0.7rem 0 0.7rem 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright-lg']
{
    float:right;
    width: 50%;
    margin: 0.7rem 0 0.7rem 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

}



@import "nav";
@import "footer";

.Site {
    display: flex;
    min-height: 110vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

.logo {
width: 2rem;
}

#tweets {
overflow-wrap: break-word;
padding-left: 1rem;
border-left: 1px solid $grey-light;
li a {
    display: inline;
}
}
