footer {
  margin: 3rem 0;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 0.875rem;
    }

    li {
        border-bottom: 1px solid $grey-light;
    }

    li:last-child {
        border: none;
    }

    li a {
        text-decoration: none;
        color: $black;
        display: block;
        width: 200px;
        font-family: $family-primary;
    }
    li a:visited {

        color: $black;

    }
}
