nav {
    margin: 0.618rem*2 0;

    input {
        display: none;
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(245,245,245,0.9);
        z-index: 999;
    }

    .overlay label {
        width: 48px;
        height: 48px;
        position: absolute;
        right: 38.2px;
        top: 38.2px;
        background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTAwIDEwMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwYXRoIGQ9Ik01MCw4OC41YzIxLjIsMCwzOC41LTE3LjMsMzguNS0zOC41UzcxLjIsMTEuNSw1MCwxMS41UzExLjUsMjguOCwxMS41LDUwUzI4LjgsODguNSw1MCw4OC41eiBNNTAsMTYuNSAgIGMxOC41LDAsMzMuNSwxNSwzMy41LDMzLjVTNjguNSw4My41LDUwLDgzLjVTMTYuNSw2OC41LDE2LjUsNTBTMzEuNSwxNi41LDUwLDE2LjV6Ii8+PHBhdGggZD0iTTM2LjIsNjMuOGMwLjUsMC41LDEuMSwwLjcsMS44LDAuN3MxLjMtMC4yLDEuOC0wLjdMNTAsNTMuNWwxMC4zLDEwLjNjMC41LDAuNSwxLjEsMC43LDEuOCwwLjdzMS4zLTAuMiwxLjgtMC43ICAgYzEtMSwxLTIuNiwwLTMuNUw1My41LDUwbDEwLjMtMTAuM2MxLTEsMS0yLjYsMC0zLjVjLTEtMS0yLjYtMS0zLjUsMEw1MCw0Ni41TDM5LjcsMzYuMmMtMS0xLTIuNi0xLTMuNSwwYy0xLDEtMSwyLjYsMCwzLjUgICBMNDYuNSw1MEwzNi4yLDYwLjNDMzUuMiw2MS4yLDM1LjIsNjIuOCwzNi4yLDYzLjh6Ii8+PC9nPjwvc3ZnPg==");
        z-index: 100;
        cursor: pointer;
    }

    .overlay nav {
        text-align: center;
        position: relative;
        top: 50%;
        height: 60%;
        font-size: 2.441rem;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        height: 100%;
        position: relative;
    }

    .overlay ul li {
        display: block;
        height: 20%;
        height: calc(100% / 5);
        min-height: 54px;
    }

    .overlay ul li a {
        font-weight: 300;
        display: block;
        color: $info;
        text-decoration: none;
    }

    .overlay ul li a:hover {
        transition: .618s ease-in-out;
        color: $olive;
        }
        a:active  {
          transition: .618s ease-in-out;
          color: $info;
        }


    .nav-item~.overlay-hugeinc {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
        transition: opacity 0.5s, visibility 0s 0.5s;
    }

    #op:checked~.overlay-hugeinc {
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }

    .overlay-hugeinc nav {
        -moz-perspective: 300px;
    }

    .overlay-hugeinc nav ul {
        opacity: 0.4;
        -webkit-transform: translateY(-25%) rotateX(35deg);
        transform: translateY(-25%) rotateX(35deg);
        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s;
    }

    #op:checked~.overlay-hugeinc nav ul {
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }

    #op:not(:checked)~.overlay-hugeinc nav ul {
        -webkit-transform: translateY(25%) rotateX(-35deg);
        transform: translateY(25%) rotateX(-35deg);
    }
}

.is-brand {
    opacity: 0;
    margin-left: 10px;
    overflow: hidden;
}

.logo, .nav-icon {
width: 2rem;
}

// .logo {
//     -webkit-transition: -webkit-transform 0.8s ease-in-out;
//     transition: transform 0.8s ease-in-out;
//     background: $white;
//     z-index: 10;
// }

.nav-item:hover {
    .is-brand {
        overflow: hidden;
position:relative;
z-index:1;
        opacity: 1;
        -webkit-animation: fadeInLeft 1s;
        animation: fadeInLeft 1s;
    }

    // .logo {
    //     -webkit-transform: rotate(720deg);
    //     transform: rotate(720deg);
    //     z-index: 10;
    //     background: $white;
    // }
}
