:root {
    font-size: 16px;
}

.nav,
body,
footer,
header,
html,
section {
    background: $body-background;
font-family: 'Tenor Sans', sans-serif;
}

.title, .subtitle {color: $white;
    font-family: $family-serif;}
/* Type Scale */
.title {
    font-size: 5rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.25rem;
}

strong { color: $red;
            font-family: $family-serif;
}

footer {
    font-size: .618rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.container {padding: 10px;}

.content a:not(.button) {
    border-bottom: 0px;
    color: $navy;
}

.content a:not(.button):visited {
    color: $navy;
}

.content a:not(.button):hover {
color: $aqua
}


a {
  transition: color .4s;
  color: $navy;
  text-decoration: none;
  font-family: $family-serif;
  font-weight: bold;
}
a:visited { color: $navy; }
a:hover   { color: $aqua; }
a:active  {
  transition: .55s ease-in-out;
  color: $aqua;
}

.nav-item a,
a.nav-item {
  color: $black;
  text-decoration: none;
}

.nav-item a:hover,
a.nav-item:hover {
  color: $black;
  text-decoration: none;
}

.nav-item a.is-active,
a.nav-item.is-active {
  color: $black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .content h1, .content h2, .content h3, .content h4,  .content h5,  .content h6{
  font-family: $family-serif;
  font-weight: bold;
  color: $black;
}

small {  font-family: $family-serif;
  font-weight: regular;}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6, small {
    font-size: 0.875rem;
}

p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-family: $family-primary;
  color: $black;
}


.port-card {
    position: relative;
    overflow: hidden;
    max-height: 700px;
    margin-bottom: 0.5rem;
}

.port-center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.port-image {
    height: 100%;
    height: auto;
    opacity: 0.3;
    transition: opacity .55s ease-in-out;
}
.port-image:hover {
      opacity: 1;
      }

// Sticky Footer
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}


.gallery {
    min-height: 100%;
    font-size: 0;
    text-align: left
}

.gallery img {
    opacity: .8;
    filter: alpha(opacity=80)
}

.gallery img:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.gallery figcaption {
    display: none
}

span[itemprop=copyrightHolder] {
    color: grey;
    float: right;
    font-style: italic
}
