:root {
    font-size: 16px;
}

.nav,
.section,
body,
footer,
header,
html,
section {
    background: $body-background;
font-family: $family-primary;
}

.hero.is-fullheight {
  min-height: 85vh;
}

.title, .subtitle {color: $white;
    font-family: $family-serif;
    font-weight: bold;
}
/* Type Scale */
.title {
    font-size: 5rem;
}

.subtitle {
    font-size: 1.25rem;
}


@media screen and (max-width: 45rem) {
.title {
    font-size: 4rem;
}

.subtitle {
    font-size: 1.25rem;
}
}



strong { color: $red;
            font-family: $family-serif;
}

footer {
    font-size: .618rem;
    margin-bottom: 2rem;
  a {
  text-decoration: underline;
}
}

.container {padding: 10px;}

.content a:not(.button) {
    border-bottom: 0px;
    color: $aqua;
}

.content a:not(.button):visited {
    color: $aqua;
}

.content a:not(.button):hover {
color: $turquoise
}


a {
  transition: color .4s;
  color: $aqua;
  text-decoration: none;
  font-family: $family-serif;
  font-weight: bold;
}
a:visited { color: $aqua; }
a:hover   { color: $turquoise; transition: .618s ease-in-out;}
a:active  {
  transition: .618s ease-in-out;
  color: $turquoise;
}


.nav-item a,
a.nav-item {
  color: $white;
}

.nav-item a:hover,
a.nav-item:hover {
  color: $turquoise;
}

.nav-item a.is-active,
a.nav-item.is-active {
  color: $white;
  text-decoration: none;
}


@media screen and (max-width: 45rem) {

  .nav-menu {
    background-color: $black;
    box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
    left: 0;
    display: none;
    right: 0;
    top: 100%;
    position: absolute;
  }
  .nav-menu .nav-item {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    padding: 2.5em;
  }
  .nav-menu.is-active {
    display: block;
  }

}

.port-card {
    position: relative;
    overflow: hidden;
    height: 25rem;

}

.port-center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}





// Sticky Footer
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}
